.text-white p {
    color: white;
}

.whats {

    .img-team-container {

        height: 250px;
    }

    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 200;
    display: inline-block;
    border: none !important;
    outline: none !important;
    background-color: #1cce3a;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 2px 2px 5px #b0afaf,
    -2px -2px 5px #b0afaf;
    box-shadow: 2px 2px 5px #b0afaf,
    -2px -2px 5px #b0afaf;
}

.whats:hover {
    -webkit-box-shadow: 2px 2px 5px #7a7979, -2px -2px 5px #7a7979;
    box-shadow: 2px 2px 5px #7a7979, -2px -2px 5px #7a7979;
}

.whats i {
    font-size: 45px;
    color: #fff;
}


.img-team-container {

    height: 250px;
}

.banner-area-1 {
    padding: 180px 0 140px 0 !important;
}


.text-limit {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: var(--lines) !important;
    line-clamp: var(--lines) !important;
    -webkit-box-orient: vertical !important;
}

.description p{
    text-align: justify !important;
}

.footer-image{
    width:150px !important;
}

.boxShadow-service{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    box-shadow: rgba(0, 96, 255, 0.4) -5px 5px, rgba(0, 96, 255, 0.3) -10px 10px, rgba(0, 96, 255, 0.2) -15px 15px, rgba(0, 96, 255, 0.1) -20px 20px, rgba(0, 96, 255, 0.05) -25px 25px;
}

.boxShadow-contact{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

:lang(ar).boxShadow-service{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
        box-shadow: rgba(0, 96, 255, 0.4) 5px 5px, rgba(0, 96, 255, 0.3) 10px 10px, rgba(0, 96, 255, 0.2) 15px 15px, rgba(0, 96, 255, 0.1) 20px 20px, rgba(0, 96, 255, 0.05) 25px 25px;
    
}