.text-white p {
    color: white;
}

.whats {

    .img-team-container {

        height: 250px;
    }

    position: fixed;
    bottom: 5%;
    right: 2%;
    z-index: 200;
    display: inline-block;
    border: none !important;
    outline: none !important;
    background-color: #1cce3a;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 2px 2px 5px #b0afaf,
    -2px -2px 5px #b0afaf;
    box-shadow: 2px 2px 5px #b0afaf,
    -2px -2px 5px #b0afaf;
}

.whats:hover {
    -webkit-box-shadow: 2px 2px 5px #7a7979, -2px -2px 5px #7a7979;
    box-shadow: 2px 2px 5px #7a7979, -2px -2px 5px #7a7979;
}

.whats i {
    font-size: 45px;
    color: #fff;
}


.img-team-container {

    height: 250px;
}

.banner-area-1 {
    padding: 180px 0 140px 0 !important;
}


.text-limit {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: var(--lines) !important;
    line-clamp: var(--lines) !important;
    -webkit-box-orient: vertical !important;
}

.description p{
    text-align: justify !important;
}

.footer-image{
    width:150px !important;
}

.boxShadow-service{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
    box-shadow: rgba(0, 96, 255, 0.4) -5px 5px, rgba(0, 96, 255, 0.3) -10px 10px, rgba(0, 96, 255, 0.2) -15px 15px, rgba(0, 96, 255, 0.1) -20px 20px, rgba(0, 96, 255, 0.05) -25px 25px;
}

.boxShadow-contact{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

:lang(ar).boxShadow-service{
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
        box-shadow: rgba(0, 96, 255, 0.4) 5px 5px, rgba(0, 96, 255, 0.3) 10px 10px, rgba(0, 96, 255, 0.2) 15px 15px, rgba(0, 96, 255, 0.1) 20px 20px, rgba(0, 96, 255, 0.05) 25px 25px;
    
}
.logo{
    width: 80px !important; 
}


.owl-stage-outer{
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0,0,0);
    direction: ltr;
   }
   
.owl-carousel{
    direction: ltr !important;
   }

   /*-----------------------------------------
    ## Preloader Css
-------------------------------------------*/
.pre-wrap {
    position: fixed;
    content: "";
    -webkit-transform: translate(-100%, -240%);
    transform: translate(-100%, -240%);
    font-size: 62px;
  }
  
  .preloader-inner {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999999999;
    background-color: #030724;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .preloader-inner .cancel-preloader {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  
  .preloader-inner .cancel-preloader a {
    background-color: #fff;
    font-weight: 600;
    text-transform: capitalize;
    color: #8731FF;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 30px;
    display: block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .preloader-inner .cancel-preloader a:hover {
    background-color: var(--heading-color);
    color: #fff;
  }
  
  .spinner {
    margin: 120px auto;
    width: 60px;
    height: 60px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear;
  }
  
  .dot1,
  .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #8731FF;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  